<% if(locals.modalData){ %> <% for (const planet in modalData) { %>
<div class="planet-container <%= planet %>">
  <h3><%= planet %></h3>
  <% const details = modalData[planet]; %> <% for (const key in details) {
  /*note - we are using nested 'for in' loops here - these are useful to loop
  through objects */ %>
  <div class="planet-detail <%=key%>">
    <strong><%= key %>:</strong> <%= details[key] %>
  </div>
  <% } %>
</div>
<% } %> <% } %>
