<form class="party-box" method="post" action="/submit-party-details">
  <h2>Provide your party details</h2>
  <div class="data-entry">
    <% for(field of partyFormContents) { %>
    <div class="question-container <%= field.halfWidth ? 'half-width' : '' %>">
      <div class="question-title"><%= field.questionTitle %></div>
      <% if(field.dropDownOptions){ %>
      <select name="<%=field.name%>">
        <% let previousValue = extractKeyValueFromArray(partyDetailsCurrent,field.name) %> 
        <% field.dropDownOptions.forEach(function(option) { %> 
          <% let selectionStatus = (previousValue == option) ? "selected" : "" %> 
          <option value="<%= option %>" <%=selectionStatus %>><%= option %></option>
        <% }); %>
      </select>
      <% } else { %>
      <div class="free-text-field full-width">
        <% let previousValue = extractKeyValueFromArray(partyDetailsCurrent, field.name) %>
        <% console.log(previousValue) %>
        <input type="text" name="<%=field.name%>" value= "<%=previousValue%>" />
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="submit-button-container">
    <input type="submit" value="Submit" />
  </div>
</form>