<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <form class="birthdate-form" method="post" action="/submit-birthdate">
      <h3>Please enter your birthdate</h3>
      <input type="date" name="birthDate" value= "<%= birthDate ? birthDate : ""
      %>" />
      <input type="submit" value="Submit" />
    </form>
    <div class="planet-parent-container">
      <div class="planet-age-boxes-container">
        <% if (locals.planetAge) { %> <% planets.forEach(function(planet, index)
        { %>
        <div class="planet-age-box-content <%=planet%>">
          <img
            src="<%=locals.planetImageNames[index]%>"
            alt="image of <%=planet%>"
            class="planet-image"
          />
          <div class="planet-age">
            Your <%=planet %> age is <%=Math.floor(planetAge[index])%>
          </div>
          <div class="planet-details-1">
            <%= `You are ${locals.intervals[index]} from your next
            ${locals.planetDemonyms[index]} birthday.` %>
          </div>
          <div class="planet-details-2"><%= locals.messages[index]%></div>
        </div>
        <% }); %> <% } %> <% if(locals.modalData){ %> <% for (const planet in
        modalData) { %>
        <div class="planet-modal">
          <div class="planet-modal-content <%= planet %>">
            <img
              class="planet-modal-exit-button"
              src="/assets/close-circle-svgrepo-com.svg"
            />
            <h3><%= planet %></h3>
            <% const details = modalData[planet]; %> <% for (const key in
            details) { /*note - we are using nested 'for in' loops here - these
            are useful to loop through objects */ %>
            <div class="planet-detail <%=key%>">
              <strong><%= key %>:</strong> <%= details[key] %>
            </div>
            <% } %>
          </div>
        </div>
        <% } %> <% } %>
        <div class="planet-overlay hidden"></div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
