<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/keyExists.js"></script>
    <script type="module" src="/getValueByKey.js"></script>
    <title>Party Planning</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="party-planner-page-container">
      <form class="party-box" method="post" action="/submit-party-details">
        <h2>Provide your party details</h2>
        <div class="data-entry">
          <% for(field of partyFormContents) { %>
          <div
            class="question-container <%= field.halfWidth ? 'half-width' : '' %>"
          >
            <div class="question-title"><%= field.questionTitle %></div>
            <% if(field.dropDownOptions){ %>
            <select name="<%=field.name%>">
              <% field.dropDownOptions.forEach(function(option) { %>
              <option value="<%= option %>"
                <% const selectedStatus = keyExists(partyDetailsArray, field.name) ? getValueByKey(partyDetailsArray, field.name) : ""  %>
                <%= selectedStatus == option ? "selected" : "" %>>
                <%= option %></option>
              <% }); %>
            </select>
            <% } else { %>
            <div class="free-text-field full-width">
              <input type="text" name="<%=field.name%>" value="<%=
              keyExists(partyDetailsArray, field.name) ?
              getValueByKey(partyDetailsArray, field.name) : "" %>" />
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
        <div class="submit-button-container">
          <input type="submit" value="Submit" />
        </div>
      </form>
      <form class="party-box" method="post" action="/submit-guest-list">
        <h2>Guest list</h2>
        <div class="guest-list-container">
          
        </div>
      </form>
      <div class="party-box cocktail-creator">cocktail creator</div>
      <div class="party-box rsvp-generator">rspv generator</div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
